*{
  margin:0px;
  padding:0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
}

.main{
  margin: auto;
  margin-top: 5rem;
  width: 30rem;
  height: 30rem;
  background-color: lightblue;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

button{
  width: 100px;
  background:lightcoral;
  border-radius: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 10px 10px;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
}

button:active{
  background: lightblue;
}


#root{
  text-align:center;
}

.screen{
  width: 25rem;
  height: 6rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  position: relative;
  background: rgb(173, 169, 169);
  border: 0px;
  border-radius: 0.5rem;
  outline: none;
  color:black;
  padding: 10px;
  text-align: right;
}

input{
  background: none;
  outline: none;
  border: none;
}